@import'componentes/index';
@import'base/variables';
@import'componentes/actividades';
@import'componentes/contacto';
@import'componentes/footer';
@import'componentes/header';
@import'componentes/quiensoy';
@import'base/extends';
@import'componentes/recursos';

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }


