$color-verde: #B6E2D3;
$color-rosa: #EF7B8E;
$letra-r: 'Rammetto One', cursive;
$letra-p: 'Poppins', sans-serif;
$texto-sombra: 0px 4px 4px rgba(0, 0, 0, 0.25);
$color-texto-r: #6a0415; //este color se tomo en base al contraste de colores de la paleta principal//
$color-texto-v: #2d5a4b; //este color se tomo en base al contraste de colores de la paleta principal//